@charset "utf-8";

$primary-bg: #242f9b;
$primary-text: #ffffff;
$form-text-color: #555555;
$error-color: #ff3333;

.new-task {
  width: 1000px;
  margin: 0 auto;
}

.new-task-form {
  color: $form-text-color;
}

.new-task-select-list,
.new-task-title,
.new-task-detail,
.new-task-limit {
  width: 300px;
  margin-bottom: 25px;
}

.new-task-detail {
  height: 200px;
}

.new-task-button {
  background-color: $primary-bg;
  color: $primary-text;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: $error-color;
}
