@charset "utf-8";

$primary-bg: #242f9b;
$primary-text: #ffffff;
$form-text-color: #555555;
$error-color: #ff3333;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;

.signup {
  width: 500px;
  margin: 0 auto;
  @media (max-width: $breakpoint-tablet) {
    width: 90%;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 95%;
  }
}

.signup-form {
  margin: 25px 0;
  color: $form-text-color;
}

.email-input,
.name-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signup-button {
  background-color: $primary-bg;
  color: $primary-text;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: $error-color;
}
